<div id="main">
	<div id="table-histograms" class="center-block container-fluid">
		<div class="table-histogram row" ng-repeat="file in files">
			<div class="col-md-2">
				<span class="pull-right">{{file.label}}</span>
			</div>
			<div class="col-md-8">
				<div 
					style="width: {{85 * file.data.length / maxRecords}}%; background-color: #D3D3D3; height: 10px; margin-top: 5px; display: inline-block">
				</div>
				<span style="font-weight: lighter; font-size: smaller">{{file.data.length}} records</span>
			</div>
		</div>
	</div>
	<div class="clearfix" style="height:50px"></div>
	<div id="tables" style="overflow-x:scroll; white-space: nowrap; margin-bottom: 2px; height: 100%; padding-left: 30px">
		<div class="table-display" ng-repeat="file in files"
			style="display: inline-block; vertical-align:top; margin-right: 30px;">
			<div class="table-header pull-left" style="margin-bottom: 7px; overflow:hidden; white-space: nowrap; display: inline-block; clear: both;">
				<span class="labels" style="width:263px; display:inline-block">
					<span class="table-label" style="font-weight: strong; font-size: larger">{{file.label}}</span>
					<span class="review-label"
						style="font-weight: strong; font-size: larger; color: red;"
						ng-click="file.reviewMode = !file.reviewMode; centerTable($event);">review</span>
				</span>
				<span style="width: 35px; padding: 5px">
					<input type="checkbox" 
						ng-model="file.displayType"
						style="height: 16px; width: 16px;">
					</input>
				</span>
				<span ng-init="sortModes=['Map errors and gaps','Map by data types','Sort by values']; sortMode = sortModes[0];"
						ng-show="file.reviewMode">
					<span ng-repeat="mode in sortModes" style="margin-left: 10px; margin-right: 10px"
						ng-style="{ 'color': mode === sortMode ? '#bbbbbb' : '#68ABE5' }">
						{{mode}}
					</span>
				</span>
			</div>
			<div class="dimension pull-left" ng-repeat="field in file.fields"
				style="overflow:hidden; white-space: nowrap; margin-bottom: 2px; height: 35px; display: inline-block; clear: both;">
				<div class="dimension-main" style="height: 35px; width: 263px; background-color: #eeeeee; padding: 5px; font-weight: lighter; display: inline-block;">
					<span class="pull-left" style="margin-top: 3px">{{field.description}}</span>
					<span class="dimension-specials pull-right">
						<div class="special-character" ng-repeat="special in field.special"
							style="height: 25px; width: 25px; display: inline-block; margin-right: 2px; text-align: center; font-size: larger; font-weight: strong; border-radius: 4px;"
							ng-style="{ 'background-color': field.unassignedSpecialChars.indexOf(special) !== -1 ? '#bbbbbb' : '#EC5D57' }">
							{{special}}
						</div>
					</span>
				</div>
				<div style="width: 35px; height:35px; display: inline-block; margin-left: -2px; padding: 5px";
					ng-style="{ 'background-color' : file.displayType ? colors[field.type] : '#eeeeee' }">
					<span ng-hide="!file.reviewMode" class="pull-left"
						style="font-weight: lighter; margin-top: 3px; margin-left: 4px">
						{{numberWithValue(file, field)}}
					</span>
				</div>
				<div style="height: 35px; display: inline-block; margin-left: -2px"
						ng-show="file.reviewMode">
					<div ng-repeat="row in file.data"
						style="height: 35px; margin-right: 1px; display: inline-block;"
						ng-style="{ width: $index === file.editIndex ? '200px' : 3 + 'px', 'background-color': $index === file.editIndex ? 'white' : colorCalc(row[field.key], 'error', field.type) }"
						ng-click="file.editIndex = $index;">
						<span class="pull-left" ng-show="$index === file.editIndex">
							<input type="text" ng-model="row[field.key]"
								style="width:200px; margin:0px; height: 35px;"
								ng-style="{ 'color': colorCalc(row[field.key], 'edit', field.type) }"></input>
						</span>
					</div>
				</div>
			</div>
		</div>
	<div>
</div>